body {
  background-color: #f5fafd;
  font-family: Georgia, "Times New Roman", Times, serif;
}
* {
  margin: 0 auto;
}
.container {
  width: 80%;
}
.header {
  height: 70px;
  background-color: #f5fafd;
}
.menu-bar {
  width: 50%;
  padding: 25px;
  float: right;
  text-align: right;
}
.menu-bar ul li {
  display: inline-block;
}
.menu-bar ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-weight: 600;
}
.menu-bar ul li a:hover {
  background-color: #ffa500;
  transition: 0.5s;
}
.menu-bar ul li .active {
  background-color: orange;
}

.logo {
  float: left;
  padding: 20px;
}
